#circuit-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #f8f8f8;
    opacity: 0.8;
}

#circuit-svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.circuit-line {
    fill: none;
    stroke: rgba(0, 123, 255, 0.3);
    stroke-width: 1;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw-line 10s linear infinite, glow-pulse 2s ease-in-out infinite alternate;
}

.circuit-node {
    r: 6;
    fill: rgba(0, 184, 255, 0.5);
    stroke: rgba(0, 184, 255, 0.7);
    stroke-width: 1;
    filter: url(#glow-light);
    animation:  glow-pulse 2s ease-in-out infinite alternate;
}


/* Estilos para el modo claro */
.light-mode #circuit-background {
    background-color: #f8f8f8;
    opacity: 0.8;
}

.light-mode .circuit-line {
    stroke: rgba(0, 123, 255, 0.3);
    stroke-width: 1;
}

.light-mode .circuit-node {
    fill: rgba(0, 184, 255, 0.5);
    stroke: rgba(0, 184, 255, 0.7);
    stroke-width: 1;
    filter: url(#glow-light);
}


/* Estilos para el modo noche */
.dark-mode #circuit-background {
    background-color: #080808;
    opacity: 0.9;
}

.dark-mode .circuit-line {
    stroke: url(#energy-flow-dark);
    stroke-width: 2;
}

.dark-mode .circuit-node {
    fill: #00ffff;
    stroke: #00ffff;
    stroke-width: 1;
    filter: url(#glow-dark);
}



@keyframes draw-line {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes glow-pulse {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 0.7;
    }
}
